<div class="container-fluid index">
	<div class="row introduce">
		<div class="col-xs-12 title">
			<%= image_tag('intro.png',:width => 20)%>
			<span>项目介绍</span>
		</div>
		<div class="col-xs-12 content">
			<p>
				冠状动脉痉挛（ Coronary Artery Spasm ,CAS）是一种病理生理状态，因发生痉挛的部位、严重程度以及有无侧枝循环等的差异而表现为不同的临床类型。国内报道在静息性胸痛且冠脉造影狭窄＜50%的小样本人群中行乙酰胆碱激发试验，阳性率为75%。有关冠状动脉痉挛综合征的研究尚浅，目前关于CASS是的病因和发病机制尚不清楚，但鉴于高血压可诱发冠状动脉痉挛，导致冠脉供应心肌的血液受阻，因此血压控制在CASS防治中的作用不可忽视.此外，在临床实践中相关指南等指导文件也非常匮乏。为推动CASS疾病的规范化诊疗，提高广大心血管临床医生对这个病种的关注和诊疗能力，由中华医学会心血管病学分会主任委员、北京大学第一医院霍勇教授牵头制定《冠状动脉痉挛综合征诊断与治疗》中国专家共识现已定稿，即将发布。
			</p>
			<p>
				为大力推动CASS疾病规范化诊疗，由北京高血压防治协会主办、中华医学会心血管病学分会支持的“青年冠脉先锋-CASS病例演讲比赛”定于在2015年在全国范围内开展。项目计划在全国500家左右的医院，开展病例比赛。通过病例比赛的形式，在实践中强化CASS临床诊断能力，在交流中提高CASS规范化药物治疗水平。
			</p>
			<p class="require text-center">
				病例大赛撰写要求
			</p>
			<div class='level1'>
				<p class='tit'><i class="fa fa-circle-o fa-6"></i>病例分享范围：</p>
				<p>“冠状动脉痉挛综合征”疾病相关病例</p>
			</div>
			<div class='level1'>
				<p class='tit'><i class="fa fa-circle-o fa-6"></i>病例分享要求：</p>
				<p>
					<span>病例能代表该类疾病的诊治思路，并有一定的临床特色。</span>
					<span>病例分享应为病例诊疗基本情况与病例诊疗分析总结两部分内容。</span>
				</p>
				<p class='sub-tit'>第一部分：病例诊疗的基本情况</p>
				<p>
					<span>★ 患者基本信息（性别、年龄、民族、职业、婚姻、联系方式、入院/门诊日期）</span>
					<span>★ 患者病史资料</span>
					<span>★ 生命体征及体格检查</span>
					<span>★ 实验室检查（检查结果可保存电子版，贴于病例中）</span>
					<span>★ 影像学等其他辅助检查（结果有意义者请帖图片）</span>
					<span>★ 初步诊断结果及诊断依据</span>
					<span>★ 治疗方案及调整情况、治疗结果</span>
					<span>★ 优选改善临床预后治疗方案采取的相关思路</span>
					<span>★ 随访情况</span>
				</p>
				<p class='sub-tit'>第二部分：病例诊疗分析总结</p>
				<p>★ 诊疗小结</p>
				<p>★ 讨论部分（治疗方案遵循指南/共识，诊疗相关研究及循证证据等）</p>
				<p>★ 核心分享点（提炼诊疗过程中最精华、对临床具有重要指导意义的部分）</p>
			</div>
			<div class='level1'>
				<p class='tit'><i class="fa fa-circle-o fa-6"></i>病例分享形式：</p>
				<p>分享病例统一采用幻灯形式。检查结果等可以图片形式贴于幻灯中，视频资料可插入幻灯后并另存资料一并上交。每位讲者演讲15分钟。</p>
			</div>	





















		</div>
	</div>
	<div class="row rules">
		<div class="col-xs-12 title">
			<%= image_tag('rule.png',:width => 20)%>
			<span>赛制及评分标准</span>
		</div>
		<div class="col-xs-12 content">
			<div class="row">
				<div class="col-xs-12">
					<h4><span>1</span>城市选拔赛：</h4>
					<p>每场比赛：5名选手晋级1名</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h4><span>2</span>复活赛：</h4>
					<p>微信投票及专家评选</p>
					<p>（35名晋级7名）</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h4><span>3</span>区域比赛：</h4>
					<p>6名选手晋级1名</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h4><span>4</span>总决赛：</h4>
					<p>角逐前三甲、最佳病例、最具风采等奖项</p>
				</div>
			</div>
			<div class="row table-container">
				<div class="col-xs-12">
					<%= image_tag('table.png',:class => 'img-responsive tb')%>
				</div>
			</div>
		</div>		
	</div>
	<div class="row new">
		<div class="col-xs-12 title">
			<%= image_tag('new.png',:width => 20)%>
			<span>新闻资讯</span>
		</div>
		<div class="col-xs-12 content">
			<ul class="list-group row ">
				<li class="list-group-item col-xs-12">
					<a href="/news?type=1">
						<span class="list-info">
							<%= image_tag('n1.png',:class => 'img-circle circle',:size => '55x55')%>
							<span class="bread pull-right"><span class="txt">热点资讯</span><span class="icon"></span><%= image_tag('right.png',:class => 'img-circle circle',:size => '30x30')%></span>
						</span>						
					</a>
				</li>
				<li class="list-group-item col-xs-12">
					<a href="/news?type=2">
						<span class="list-info">
							<%= image_tag('n2.png',:class => 'img-circle circle',:size => '55x55')%>
							<span class="bread pull-right"><span class="txt">比赛预告</span><span class="icon"></span><%= image_tag('right.png',:class => 'img-circle circle',:size => '30x30')%></span>
						</span>						
					</a>
				</li>
				<li class="list-group-item col-xs-12">
					<a href="/news?type=3">
						<span class="list-info">
							<%= image_tag('n3.png',:class => 'img-circle circle',:size => '55x55')%>
							<span class="bread pull-right"><span class="txt">精彩回顾</span><span class="icon"></span><%= image_tag('right.png',:class => 'img-circle circle',:size => '30x30')%></span>
						</span>						
					</a>
				</li>
			</ul>					
		</div>		
	</div>			
	<div class="row regist">
		<div class="col-xs-12 title">
			<%= image_tag('reg.png',:width => 20)%>
			<span>报名注册</span>
		</div>
		<div class="col-xs-12 content">
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4">
					<%= image_tag('reg-avt.png',:class => 'img-responsive')%>
				</div>
				<div class="col-xs-8 col-xs-offset-2">
					<a href="/votes" class="btn btn-default btn-block">点此进入报名注册</a>
				</div>
			</div>
		</div>		
	</div>
	<div class="row votes">
		<div class="col-xs-12 title">
			<%= image_tag('vt.png',:width => 20)%>
			<span>投票专区</span>
		</div>
		<div class="col-xs-12 content">
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4">
					<%= image_tag('vot.png',:class => 'img-responsive')%>
				</div>
				<div class="col-xs-8 col-xs-offset-2">
					<a href="/votes/doctors" class="btn btn-default btn-block">点此进入投票专区</a>
				</div>
			</div>
		</div>	
	</div>
	<div class="modal fade rule-modal" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<%= image_tag('table.png',:class => 'img-responsive tb')%>
				</div>
			</div>
		</div>
	</div>							
</div>