<div class="container-fluid doctors-detail">
	<div class="row">
		<div class="col-xs-4">
			<%= image_tag(@doctor.avatar_url,:class => 'img-responsive')%>
		</div>
		<div class="col-xs-8">
			<span class="name"><%= @doctor.name %></span>
			<span class="hospital"><%= @doctor.hospital %></span>
			<span class="office">所在科室：<%= @doctor.office %></span>
			<span class="office">病例名称：<%= @doctor.position %></span>
			<span class="vote">当前票数：<span class='count'>1280</span></span>
		</div>
		<div class="col-xs-12 middle">
			<a href="javascript:void(0);" class="btn btn-block btn-lg" id="<%= @doctor.id.to_s %>">给TA投票</a>
		</div>
		<div class="col-xs-12 cstart">
			<span class='book'></span><span class='txt'>参评论文</span>	
		</div>
		<div class="col-xs-12 content">
			<h4 class="title"><%= @doctor.title %></h4>
			<%= raw @doctor.content %>
		</div>
	</div>	

	<div class="modal fade success-modal" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
				  <div class="container-fluid">
				    <div class="row">
				      <div class="col-xs-12 text-center"><span class='mobile notice' style='color:green;'>投票成功,感谢您的参与！</span></div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>	

</div>