<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, user-scalable=no,initial-scale=1, maximum-scale=1, minimum-scale=1'/>
    <meta name="viewport" content="width=device-width, height=device-height">
    <title>给你喜欢的医生投票吧</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class='mobile <%= @sp_class %>'>
    <%= yield %>
  </body>
</html>